<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Sign in</span>
    <div class="input-field">
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}"
      >
      <label
        for="email"
      >
        Email:
      </label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        <span *ngIf="form.get('email')?.hasError('required')">
          Please enter a email address
        </span>
        <span *ngIf="form.get('email')?.hasError('email')">
          Invalid email address. Valid e-mail can contain only latin letters, numbers, '@' and '.'
        </span>
      </span>
    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        value="test123"
        [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}"
      >
      <label
        for="password"
      >
        Password:
      </label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        <span
          *ngIf="form.get('password')?.hasError('required')"
        >
          Passwords must contain at least 6 characters,
          including uppercase, lowercase letters and numbers.
        </span>
        <span
          *ngIf="form.get('password')?.hasError('minlength')"
        >
          Current {{ form.get('password')?.errors?.['minlength'].actualLength }} Character,
          password must contain at least {{ form.get('password')?.errors?.['minlength'].requiredLength }} characters,
          including uppercase, lowercase letters and numbers.
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"
    >
      Connect
    </button>
  </div>
</form>
